.text-area {
    -fx-text-fill: #f1f1f1;
    -fx-background-color: #1A1F33;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.lastOperationLabelStyles {
    -fx-text-fill: #a1a1a1;
}