@font-face {
    -fx-font-family: "Selawik";
    -fx-src: url("/com/korealm/fonts/selawk.ttf");
}

/***************/
/**** PANES ****/
/***************/
.root {
    -fx-font-family: "Selawik", "Segoe UI";
}

.vboxPane {
    -fx-background-color: #F3F3F3;
}

.mainTitleStyle {
    -fx-text-fill: #020202;
}


/****************/
/**** FIELDS ****/
/****************/
.text-area {
    -fx-text-fill: #020202;
    -fx-background-color: #F3F3F3;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.lastOperationLabelStyles {
    -fx-text-fill: #AAAAAA;
}

/*****************/
/**** BUTTONS ****/
/*****************/
.button {
    -fx-text-fill: #171717;
}

.numberButtonStyle {
    -fx-background-color: #FFFFFF;
}

.functionButtonStyle {
    -fx-background-color: #F9F9F9;
}

.numberButtonStyle:hover {
    -fx-background-color: #E8E8E8;
}

.functionButtonStyle:hover {
    -fx-background-color: #E4E4E4;
}

.transparentButton {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.transparentButton:hover {
    -fx-background-color: #E4E4E4;
}


/*****************/
/**** SIDEBAR ****/
/*****************/

/* History Sidebar Styles */
.historySidebar {
    -fx-background-color: #E9E9E9;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 15, 0, 0, 0);
}

.historyItem {
    -fx-font-family: "Selawik", "Segoe UI";
    -fx-font-size: 25px;
    -fx-text-fill: #020202;
    -fx-background-color: rgba(230, 230, 230, 0.45);
    -fx-text-alignment: right;
    -fx-padding: 10px 20px;
}

.historyItem:hover {
    -fx-background-color: #E0E0E0;
}

/* Menu Sidebar Styles */
.menuSidebar {
    -fx-background-color: #E9E9E9;
    -fx-padding: 15px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 15, 0, 0, 0);
}

.menuTitle {
    -fx-font-family: "Selawik", "Segoe UI";
    -fx-font-size: 28px;
    -fx-text-fill: #020202;
    -fx-padding: 0 0 15px 0;
}

/* These buttons are ones inside the menu, not the actual button to trigger the menu to show or close up */
.menuButton {
    -fx-font-family: "Selawik", "Segoe UI";
    -fx-font-size: 22px;
    -fx-text-fill: #020202;
    -fx-background-color: rgba(230, 230, 230, 0.45);
    -fx-alignment: center-right;
    -fx-padding: 10px 15px;
    -fx-min-width: 100%;
    -fx-max-width: infinity;
    -fx-background-radius: 3;
}

.menuButton:hover {
    -fx-background-color: #E0E0E0;
    -fx-cursor: hand;
}

/*********************/
/**** ABOUT D APP ****/
/*********************/
.about-dialog {
    -fx-background-color: #F3F3F3;
    -fx-border-color: #E0E0E0;
    -fx-border-width: 1px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.5, 0, 0);
}

.about-dialog .button-bar .container {
    -fx-background-color: transparent;
}

.about-dialog .about-name {
    -fx-font-family: "Selawik Semibold";
    -fx-font-size: 24px;
    -fx-text-fill: #020202;
}

.about-dialog .about-description {
    -fx-font-family: "Selawik";
    -fx-font-size: 16px;
    -fx-text-fill: #666666;
    -fx-line-spacing: 5px;
}

.about-dialog .about-app-info {
    -fx-font-family: "Selawik Light";
    -fx-font-size: 14px;
    -fx-text-fill: #999999;
    -fx-padding: 15 0 0 0;
}

.about-dialog .button {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #020202;
    -fx-font-family: "Selawik";
    -fx-padding: 5 15 5 15;
}

.about-dialog .button:hover {
    -fx-background-color: #E8E8E8;
}