@font-face {
    -fx-font-family: "Selawik";
    -fx-src: url("/com/korealm/fonts/selawk.ttf");
}

/* This is the real one */
.historySidebar {
    -fx-background-color: #1A1F33;
}

/* Debugging purposes */
/*.historySidebar {*/
/*    -fx-background-color: red;*/
/*}*/


.historyItem {
    -fx-font-family: "Selawik", "Segoe UI";
    -fx-font-size: 25px;
    -fx-text-fill: #f1f1f1;
    -fx-background-color: rgba(31, 37, 61, 0.65);
    -fx-text-alignment: right;
    -fx-padding: 10px 20px;
}

.historyItem:hover {
 -fx-background-color: #2C3145;
}